@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap");

* {
  font-family: "Hahmlet", serif;
}
.btn-outline-success {
  background-color: #28a745;
  color: white;
}
.btn-outline-success:hover {
  transform: scale(1.1);
}
